version: 2.1

parameters:
  run_output_workflow:
    type: boolean
    default: false
  output_value:
    type: string
    default: default output value

jobs:
  output:
    docker:
      - image: cimg/base:2023.08
    steps:
      - run: "echo this is an output build, the output_value is: << pipeline.parameters.output_value >>"

workflows:
  output:
    when: << pipeline.parameters.run_output_workflow >>
    jobs:
      - output
